body {
	font-size:12px;
	
	/* font-family:"Courier"; */
	
	/* google fonts */
	/* font-family: 'Dosis', 'sans-serif'; */
	font-family: 'Open Sans', 'sans-serif';
	font-size:10px;
    
	/* custom fonts */
		/* font-family: MyCustomFont, Arial; */
		
	width:800px;
	margin:0 auto;
	background-color:#091F38; /*#0072CE; */
	margin-bottom:300px;	/* to keep a big gap at the end of the page for scrolling purposes*/
	
}

/* LINKS */
a, a:link, a:visited, a:hover, a:active {
	text-decoration:none;
	color:#bbb;		/* grey : used for debugging active links */
	color:#ED2235;	/* dark blue */
	color:#fff;
}
a.link , a:link.link, a:visited.link, a:hover.link, a:active.link {
	text-decoration:none;
	color:#FFDA56;

}
section, article, footer, aside, h1, h1, h3, h4, h5 {
	margin:0;
	padding:0;
}

/* ###################### BORDERS */
div#mainBorder {
	padding:5px; 
	background-color:rgba(255,255,255,.08);
	
	/* rounded corners */
	-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
	
}


/* ########################## SECTION START */
section {
	background-color:#2A4B7F; /* #2B8FFF; */
	/* border:thin solid #cdc; */
	padding-bottom:1px;
	color:#fff;
}
section h1{
	color:#4B5969;
	background-color:RGB(50,142,253);
	background-color:#D0D0D0;
	padding:5px;
	
	/* disable user select */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
section section h1{
	background-color:RGB(50,142,253);
	background-color:#D0D0D0;
	padding:5px;
	color:#fff;
	
	/* disable user select */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section p{
	padding:7px;
}
section ul {
	padding-left:25px;
}
section table {
	padding:10px;
}
section table tr td{
	border:thin #ccc solid;
}
section table.small {
	font-size:11px;
}
section div.columns {
column-count:3;
column-gap:40px;
column-rule-style:outset;
column-rule-color:#ccc;

/* Firefox */
-moz-column-count:3;
-moz-column-gap:40px;
-moz-column-rule-style:outset;
-moz-column-rule-color:#ccc;

/* Safari and Chrome */
-webkit-column-count:3;
-webkit-column-gap:40px;
-webkit-column-rule-style:outset;
-webkit-column-rule-color:#ccc;
}

/* ########################## SECTION INNER */
section section {
	width:100%;
	margin:0 auto;
	/*background-color:#fff; */
	background-color:#304257; /*#4B87E5; */
	/*border-bottom:thin #eee solid;*/
	
}
section section h1 {
	font-size:13px;
	background-color:#2A4B7F;
	
}
section section h2 {
	font-size:13px;
	background-color:#97C652;
	margin-left:10px;
	padding:0 10px 0 10px;
	display:inline-block;
	margin-bottom:0;
}

/* ##################### sub sections */
section section section {
	background-color:rgba(0,0,0,.4);
	padding:15px;
	margin:5px;
	width:95%;
}

/*
due to pages that use the collasper, section with class name box will append a block display
call the utils.removeDisplayBlockOnBoxClass() after calling the enableCollapser() to remove this
then just click uncollapseall to reset the page as a hack around
*/
section.box{
	background-color:rgba(0,0,0,.4);
	padding:15px;
	margin:5px;
	width:200px;
	display:inline-block;
	height:200px;
	overflow: auto;
	font-size: 10px;
}
section.box header{
	font-size:12px;
	background-color:black;
	margin-top:-14px;
	margin-left:-14px;
	margin-right:-14px;
}
section.box figure {
	margin:0px;
	margin-top:10px;
	max-width:100%;
}
section.box figure h1{
	background:none;
}

section section section h1 {
	background-color:rgba(0,0,0,.4);
}
section.box p {
	margin:0px;
	padding:0px;
	margin:10px 0 10px 0;

}

/* ###################### for custom bullets */
section section ul {
	/*padding-left:25px;*/
    list-style: none;
    padding:0;
    margin:0;
}

section section li { 
    padding-left: 1em; 
    /* text-indent: -.7em; */
}
section section li:before{
	content: "\002022";
	padding-right:5px;
	font-size:16px;
	color:#eee;
}

section section form ul{
	padding-left:18px;
}
/* LINKS */
section section a, section section a:link,section section  a:visited,
section section a:hover,section section a:active {
	text-decoration:none;
	color:#bbb;		/* grey : used for debugging active links */
	color:#ED2235;	/* dark blue */
	color:#FFDA56;
	
	
}
/* ####################### END OF CUSTOM BULLET */
section section pre {
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	margin:10px;
	padding:5px;
	border:thin #ccc solid;
	
	/* wrap word inside pre tags */
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* code inside list */
section section li pre {
	font-family:"Courier New", Courier, monospace;
	font-size:11px;
	margin:10px;
	padding:5px;
	padding-left:12px;
	border:thin #ccc solid;
	
	/* wrap word inside pre tags */
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* ####### CUSTOM ********** */
table, table th, table td{
	border:1px solid black;
	border-collapse:collapse;
	border-padding:0;
	border-spacing:0;
}
table th {
	background-color:#445760;
	color:#fff;
}
table td {
	vertical-align:top;
	color:#4375D9;
	padding:5px;
	font-size:12px;
}

table.shortcutkeys td{
	<!-- color:#292840; -->
	color:#fff;
}
table.shortcutkeys td h1{
	font-size:14px;
	background-color:#000;
}

span.special{
	color:yellow;
}

/* collapseing buttons for list on main page */
sectoin a.unCollapseAll {
	padding:5px; margin-right:5px;
}
section a.collapseAll {
	padding:5px; margin-right:5px;
}

.column3 {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	
	-webkit-column-rule:1px solid lightblue; /* Chrome, Safari, Opera */
    -moz-column-rule: 1px solid lightblue; /* Firefox */
    column-rule: 1px solid lightblue;
	
	-webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;

	-webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
	
	-webkit-column-width: 100px; /* Chrome, Safari, Opera */
    column-width: 100px;
}


/* ################################ SEARCH BOX - Autocomplete*/

/* the entire selector for autocomplete */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, 
.ui-autocomplete, .ui-autocomplete:hover, 
.ui-menu-item, .ui-menu-item:hover,
.ui-menu-item a, .ui-menu-item a:hover,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active,
.ui-menu .ui-menu-item a
{ 
background: rgba(255,255,255,.7) none no-repeat; 
padding:3px;
margin:0;
display:block;
border:0;border-collapse:collapse;
color:black;
font-size:12px;
}

/* make autobox go right */
section#searchBar {
	float:right;
	padding:20px;
	height:20px;
	background-color:transparent;
}

.ui-widget {
	padding:0px;
	margin:0px;
	text-align:left;
}
/* background of each item */
/*
ul.ui-autocomplete.ui-menu{
    height:10px;
    font-size:12px;
	color:#000;
	list-style-type: none;
}
*/

.ui-autocomplete { 
	position: absolute; 
	top:100px;cursor: default; 
	z-index:100 !important;
}  

/* background of input */
.ui-autocomplete-input:focus, .ui-autocomplete a.ui-corner-all.sbiAnchor:hover {
    background: #A3DEFF;
}

.ui-state-hover, .ui-autocomplete li:hover {
    color:White;
    background:#96B202;
    outline:none;
	padding:3px;
	margin:0;
}
/*.ui-state-link, .ui-autocomplete li:link */
/*
.ui-state-focus { 
    color:White;
    background:#96B202;
    outline:none;
	padding:10px;
}
*/

/* ##################################### MAIN HEADER NAV */
section#mainNav {
	padding:20px 0 5px 0;
	background-color:rgba(255,255,255,.09);
	
	/* disable user select */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
section#mainNav ul li {
	list-style-type:none;
	display:inline-block;
}
section#mainNav ul li a:link {
	padding:13px;
	background-color:black; /* #FFC141; */
	margin:0 2px 0 0;
	
	/* round corners */
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
	
}
section#mainNav ul li a:hover {
	padding:13px;
	background-color:#2D465E;
	margin:0 2px 0 0;
	
	/* round corners */
	/* round corners */
	-webkit-border-radius: 20px 20px 0px 0px;
	-moz-border-radius: 20px 20px 0px 0px;
	border-radius: 20px 20px 0px 0px;
}

/* ##################################### main page inner sub nav*/
nav#main {
	display:in-line-block;
	background-color:RGB(0,92,203);
	color:#fff;
	padding:5px;
}
nav#main a:link, nav#main a:hover, nav#main a:visited, nav#main a:active {
	color:#fff;
}


/* ############################# BUTTONS */
div#collapser{
	padding:6px;
	text-align:center;
	/* background-color:rgba(256,256,256,.2);*/
	background-color:rgba(0,0,0,.2);
}
.unCollapseAll, .collapseAll{
	margin-right:20px;
	padding:2px;
	padding-left:8px;
	padding-right:8px;
	background-color:black;
	/* round corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	/* disable user select */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	
	/* display cursor */
	cursor: pointer;
	
}

/* ########################## Images */
img.pix50 {
	max-width:50px;
}
img.pix100 {
	max-width:100px;
}
img.pix200 {
	max-width:200px;
}
img.pix300 {
	max-width:300px;
}
img.fit{
	max-width:100%;
}
img.fit10{
	max-width:10%;
}
img.fit50{
	max-width:50%;
}

/* ########################## FOOTER */
footer#main {
	padding:15px;
	text-align:center;
	color:#fff;
}
section#mainFooter {
	background-color:transparent;
}